
  
    <div class="timerow form-inline form-group clearfix">
      <div class="input-group">
        <a class="remove btn btn-danger"><span class="glyphicon glyphicon-minus" aria-hidden="true"></a></span>
      </div>  
      <div class="input-group">
        <input class="jobname typeahead form-control" type="text" value="" placeholder="Job name">
      </div>
      <div class="input-group">
        <input class="jobcomment form-control" type="text" placeholder="Comment">
      </div>
      <div class="input-group">
        <select class="jobtime form-control">
          <option value="">Time worked</option>
          <option value="15">15 Minutes</option>
          <option value="30">30 Minutes</option>
          <option value="45">45 Minutes</option>
          <option value="60">1 Hour</option>
          <option value="90">1.5 Hours</option>
          <option value="120">2 Hours</option>
          <option value="150">2.5 Hours</option>
          <option value="180">3 Hours</option>
          <option value="240">4 Hours</option>
          <option value="300">5 Hours</option>
          <option value="360">6 Hours</option>
          <option value="420">7 Hours</option>
          <option value="480">8 Hours</option>
        </select> 
      </div>
    </div>
  
