@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url('../fonts/AvenirLTStd-Light.eot');
  src: url('../fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
  /*url('../fonts/AvenirLTStd-Light.woff2') format('woff2'),*/
  url('../fonts/AvenirLTStd-Light.woff') format('woff');
  /*url('../fonts/AvenirLTStd-Light.ttf') format('truetype'),
  url('../fonts/AvenirLTStd-Light.svg#webfontbold') format('svg');*/
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url('../fonts/AvenirLTStd-Roman.eot');
  src: url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
  /*url('../fonts/AvenirLTStd-Roman.woff2') format('woff2'),*/
  url('../fonts/AvenirLTStd-Roman.woff') format('woff');
  /*url('../fonts/AvenirLTStd-Roman.ttf') format('truetype'),
  url('../fonts/AvenirLTStd-Roman.svg#webfontbold') format('svg');*/
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf') format('truetype'),
  url('../fonts/icomoon.woff') format('woff'),
  url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pdf:before {
  content: "\e900";
}

.icon-xls:before {
  content: "\e901";
}

.icon-ods:before {
  content: "\e902";
}

.icon-doc:before {
  content: "\e903";
}

.icon-odt:before {
  content: "\e904";
}

.icon-png:before {
  content: "\e905";
}

.icon-jpg:before {
  content: "\e906";
}

.icon-gif:before {
  content: "\e907";
}

.icon-ppt:before {
  content: "\e908";
}

.icon-odp:before {
  content: "\e909";
}

.icon-dwt:before {
  content: "\e90a";
}

.icon-dwg:before {
  content: "\e90b";
}

.icon-odg:before {
  content: "\e90c";
}

.icon-dxf:before {
  content: "\e90d";
}

.icon-unknown:before {
  content: "\e90e";
}

