/*
* Un-comment to use Compass mixins */
//@import "compass";

/*
* Impprt Boostrap Overide - _bootstrap-overide.scss */
//@import "ux-overide";

/*
* Impprt Boostrap Overide - _bootstrap-overide.scss */
@import "bootstrap-overide";
@import "fonts";



// Global -----------------------------------------------------------------------

header {
  margin-bottom: 30px;
}

.btn {
  border-radius: 5px;
  text-decoration: none;
}

:focus {
  outline: 0;
}

hr {
  border-top: 1px solid $mid-gray;
}

.label {
  border-radius: 0;
}

a {
  text-decoration: underline;
}

.navigations a,
.nav-tabs a,
.left-col a {
  text-decoration: none;
}

.upper-case {
  text-transform: uppercase;
}





// Icons -------------------------------------------------------------------

.icon-wrapper {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.icon {
  font-size: 32px;
}

.icon-pdf {
  color: #df1f12;
}

.icon-xls,
.icon-ods {
 color: #009245;
}

.icon-doc,
.icon-odt {
  color: #0067a0;
}

.icon-dwt {
  color: #699328;
}

.icon-dwg,
.icon-dxf {
  color: #1f97c1;
}

.icon-odg {
  color: rgb(38,35,36);
}
.icon-unknown {
  color: rgb(113,112,115);
}

.icon-png,
.icon-jpg,
.icon-gif {
  color: #28285b;
}

.icon-ppt,
.icon-odp {
  color: rgb(242,101,49);
}





// Typography -------------------------------------------------------------------

blockquote {
  padding: 12px 55px 12px 85px;
  border-left: none;
  position: relative;
  &:before {
    content: "";
    background: url("../img/quote.svg");
    display: block;
    width: 64px;
    height: 45px;
    margin-left: -75px;
    position: absolute;
    top: 16px;
  }
}

strong, b {
  font-family: 'AvenirLTStd-Roman';
}

.article-sub-type,
p:last-child {
  margin: 0 0 12px;
}

.article-sub-type {
  font-size: 18px;
}

.task-type-text {
  text-transform: uppercase;
}

.text-muted {
  color: #aaa;
}

h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




// header ------------------------------------------------------------------------

.arrow-primary {
  background: rgba(239, 65, 53, 1);
  position: relative;
  border-radius: 0 .25em .25em 0;
  margin-left: 20px;
  color: #fff;
  font-size: 12px;
  vertical-align: middle;
}

.arrow-primary:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #ef4135;
  border-width: 14px;
  margin-top: -14px;
}

.icon-stack {
  position: relative;
  display: inline-block;

  .text {
    position: absolute;
    z-index: 1;
    font-size: 0.6em;
    font-weight: bold;
    bottom: 6px;
    left: 6px;
    color: #fff;
  }
  .glyphicon {
    font-size: 2em;
  }
}





// header ------------------------------------------------------------------------

#header-bar {
  margin-bottom: 0px;
}

#global-nav {
  margin-bottom: 0px;
}

// sc-logo

.navbar-brand {
  display: block;
  height: 90px;
  @media (min-width: $screen-sm-min) {
    height: auto;
  }
}

.sc-logo {
  display: block;
  background: url("../img/sc-logo.png") 0 0 no-repeat;
  width: 195px;
  height: 26px;
  text-indent: -999px;
  overflow: hidden;
}


// title

.page-title h2 {
  margin: 0;
}


// nav

#secondary-nav {
  background: $warm-gray;
  border-bottom: 1px solid #c8c8c8;
  width: 100%;
  padding: 15px 15px 15px 15px;
  a, h2 {
    color: $brand-primary;
  }
  form {
    margin: 0;
    padding: 0;
    background: none;
  }
}

.navbar-default {
  background: #fff;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #c8c8c8;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background: $brand-info;
}

.navbar-nav .dropdown-menu>li>a {
  width: 100%;
}

.navbar-form .btn {
  padding: 7px 12px 5px 12px;
  background-color: #df1f12;
  border-color: #d61e11;
  .glyphicon:empty {
    color: #000;
  }
  &:hover,
  &:focus {
    background-color: #d61e11;
    margin-left: -1px;
  }
}

// secondary nav

#secondary-nav {
  width: 100%;
  padding: 15px 15px 15px 15px;
  form {
    margin: 0;
    padding: 0;
    background: none;
    @media (min-width: $screen-sm-min) {
      input {
        width: 300px;
      }
    }
    @media (min-width: $screen-md-min) {
      input {
        width: 400px;
      }
    }
  }
}




// mobile header  ---------------------------------------------------------------

@media (max-width: $screen-xs-max) {
  .navbar-nav {
    background: #f4f4f4;
  }
}

.navbar-toggle {
  padding: 9px 8px;
  .icon {
    float: left;
  }
}

.menu-btn {
  position: absolute;
  top: 40px;
  right: 0;
}

.search-toggle {
  padding: 7px 8px 3px;
  position: absolute;
  top: 0;
  right: 0;
}

.navbar-default .navbar-toggle,
.search-toggle {
  background-color: #df1f12;
  border-color: #d61e11 !important;
  .glyphicon {
    color: #000;
  }
  &:hover,
  &:focus {
    background: #df1f12;
  }
  .icon-bar {
    background-color: #000;
  }
}

.navbar-toggle .icon-label {
  margin-right: 8px;
  font-weight: bold;
  float: left;
  line-height: 1em;
}





// Breadcrumb -------------------------------------------------------------------


.breadcrumb {
  margin-bottom: 30px;
}



// Menus ---------------------------------------------------------------------

#project-menu {
  >li {
    margin-right: 4px;
  }
  >li+li {
    margin-left: 0px;
  }
  >li>a {
    background: #efefef;
    padding: 4px 8px;
  }
  >li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background: #bbb;
  }
}

#section-menu {
  width: 100%;
}





// Side bar ---------------------------------------------------------------------

#sidebar {
  margin-bottom: 30px;
}

span.badge {
  background: #999;
}

.left-col {
  .well {
    background: $gray-light;
  }
  .list-group {
    .glyphicon {
      width: 20px;
    }
  }
  .list-group-item {
    background: transparent;
    border-right: none;
    border-left: none;
  }
  .badge {
    background: #1D6A96;
    margin-left: 5px;
  }
}




// structure ------------------------------------------------------------------------
.left-col {
  width: 250px;
  padding: 0;
  position: absolute;
  display: flex;
}

.right-col {
  padding: 0px 20px;
  margin-left: 250px;
}

hr {
  margin-top: 14px;
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .left-col {
    width: 100%;
    padding: 0px;
    position: static;
    display: block;
    margin-bottom: 20px;
  }
  .right-col {
    padding: 0px;
    margin-left: 0px;
  }
}

.collapse-expand-all {
  text-align: right;

  a {
    margin-left: 15px;
  }
}






// bootstrap overrides -------------------------------------------------------------------

.well {
  padding: 10px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  border-top: 2px solid $gray;
  background-color: $gray-light;
}

.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.sites .well h4 {
  background: $mid-gray;
  padding: 10px;
  margin: -10px -10px 10px -10px;
  font-size: 24px;
}

.well .glyphicon-plus-sign {
  padding-right: 20px;
}



// icons ------------------------------------------------------------------------

.glyphicon {
  color: #bbb;
}

.expand-all-trigger .glyphicon-eye-open,
.close-all-trigger .glyphicon-eye-close {
  padding-right: 5px;
  display: inline;
}




// modal ------------------------------------------------------------------------

.modal-content {
  border: none;
  background: $gray-light;
  border-radius: 3px;
  .modal-header {
    background: $black;
    color: #fff;
    border-radius: 3px 3px 0 0;
  }
  .close {
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    position: relative;
    border-radius: 50%;
    text-shadow: none;
    opacity: 1;
    font-size: 21px;
    color: #fff;
    &:hover,
    &:focus {
      color: #fff;
    }
    span {
      position: absolute;
      top: -1px;
      left: 4px;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .modal-content {
    -webkit-box-shadow: 0 5px 115px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 115px rgba(0, 0, 0, 0.5);
  }
}





// Alerts -----------------------------------------------------------------------

.alert-warning .btn {
  color: #000;
}

.cta {
  border-top: 2px solid $gray;
  background: $warm-gray;
  padding: 10px;
  margin-bottom: 24px;
}




// Dropdown ---------------------------------------------------------------------

.dropdown-menu {
  border: none;
  width: 100%;
}





// Tabs -------------------------------------------------------------------------

.tabs-full-width {
  width: 100%;
  background: $gray-light;
  padding: 4px 10px 0;
  margin-bottom: 20px;
  border-radius: 3px 3px 0 0;
  ul {
    li {
        float: none;
      text-align: center;
    }
  }
  @media (min-width: 767px)  {
    display: table !important;
    ul {
      display: table-row;
    }
    li {
      display: table-cell;
    }
  }
}

.nav-tabs {
  margin-bottom: 20px;
  >li {
    a {
      border-radius: 0;
      border: none;
      color: $black;
      &:hover,
      &:focus,
      &:active {
        background: $brand-primary;
        color: #fff;
      }
    }
    &.active>a,
    &.active>a:hover,
    &.active>a:focus {
      background: $brand-primary;
      border: none;
      font-weight: bold;
      color: #fff;
    }
  }
}





// Pagination -------------------------------------------------------------------

.pagination-wrapper {
  text-align: center;
  border-top: 1px solid $brand-primary;
  border-bottom: 1px solid $brand-primary;
  .pagination {
    margin: 0;
    height: 30px;
    > li > a {
      height: 37px;
      border-radius: 0;
      border: 1px solid $brand-primary;
      border-top: none;
      border-bottom: none;
      color: $brand-primary;
    }
    > li.active > a {
      color: #fff;
    }
  }
}




// Labels ------------------------------------------------------------------------

.label-success,
.label-default{
  color: #000;
}





// Tables ------------------------------------------------------------------------

th {
  font-size: 0.8em;
}

.table>thead>tr>th,
.table>thead>tr>td,
.table>tbody>tr>th,
.table>tbody>tr>td,
.table>tfoot>tr>th,
.table>tfoot>tr>td {
  border-top: 1px solid $mid-gray;
}

.table>thead>tr>th,
th {
  background: #f5f5f5;
  border-bottom: 1px solid $gray;
  border-top: none !important;
  font-family: 'AvenirLTStd-Roman';
}

ul.facet-cards {
  >.facet-card {
    .form-control {
      margin-bottom: 0;
    }
    &.table-header-row {
      >div {
        border-top: none;
        background: #f5f5f5;
        border-bottom: 1px solid $gray;
        font-family: 'AvenirLTStd-Roman';
      }
    }
    >div {
      border-top: 1px solid $mid-gray;
      display: table-cell;
      vertical-align: top;
      padding: 10px;
    }
  }
}

ul.facet-cards {
  >.facet-card {
    .form-control {
      margin-bottom: 0;
    }
    &.table-header-row {
      >div {
        border-top: none;
        background: #f5f5f5;
        border-bottom: 1px solid $gray;
        font-family: 'AvenirLTStd-Roman';
      }
    }
    >div {
      border-top: 1px solid $mid-gray;
      display: table-cell;
      vertical-align: top;
      padding: 10px;
    }
  }
}

ul.client-cards {
  >.client-card {
    .form-control {
      margin-bottom: 0;
    }
    &.table-header-row {
      >div {
        border-top: none;
        background: #f5f5f5;
        border-bottom: 1px solid $gray;
        font-family: 'AvenirLTStd-Roman';
      }
    }
    >div {
      border-top: 1px solid $mid-gray;
      display: table-cell;
      vertical-align: top;
      padding: 10px;
    }
  }
}

ul.client-cards {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  >.client-card {
    display: table-row;
    .client-name {
      li {
        font-size: 0.85em;
        margin-bottom: 3px;
        line-height: 1.2em;
      }
    }
  }
}
@media (max-width: 768px) {
  ul.client-cards {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;

    >.client-card {
      display: block;
      border: 1px solid #000;
      margin-bottom: 30px;

      .client-name {
        font-size: 1.1em;
        line-height: 1em;
        padding: 15px 15px 15px;
        background: #ededed;
        display: block;
        margin-bottom: 10px;
      }

      .client-sites, .client-contact {
        width: 100%;
        display: inline-block;
        padding: 5px 15px;
      }
      >div {
        border-top: none;
      }
    }
    >.table-header-row {
      display: none;
    }
  }
}

.list-group-item {
  border: 1px solid $mid-gray;
}

.facet-data {
  .input-group-addon {
    background: #bfe0f3;
    border: #bfe0f3;
    color: #000;
  }
}




// Profile pics -----------------------------------------------------------------

.thumbnail {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
  @media (max-width: 767px) {
    display: block;
    text-align: center;
    width: 150px;
    margin: 0 auto 10px;
  }
}





// Files ------------------------------------------------------------------------

.files-header {
  background: #ddd;
  font-weight: bold;
}

.file-breadcrumb {
  margin-bottom: 0px;
}





// documents ------------------------------------------------------------------------

.documents-tree {
  section {
    margin-left: 30px;
  }
  .folder, .file, .add-file, .add-folder {
    margin-bottom: 2px;
    border-bottom: 1px solid #ddd;
    position: relative;
  }

  .folder {
    background: #eee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#dddddd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeeeee 0%,#dddddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding: 8px 12px;
    cursor: pointer;
  }

  .folder.collapsed {
    background: #eee;
  }

  .folder:hover {
    background: #ddd;
    background: -moz-linear-gradient(top, #dddddd 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #dddddd 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #dddddd 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, */
  }

  .folder.collapsed:hover {
    background: #ddd;
  }

  .file {
    border-left: 4px solid #ddd;

    td {
      background: #FAFAFA;
    }
  }
  .add-file {
    background: lightyellow;
  }

  .add-folder {
    background: lightgoldenrodyellow;
  }

  .file, .add-folder, .add-file {
    a {
      display: block;
      padding: 8px 12px;
    }
  }
  .file:hover, .add-folder:hover, .add-file:hover {
    background: lightcyan;
    a {
      text-decoration: none;
    }
  }

  .file, .folder {
    div.name {
      margin-right: 170px;
    }
  }

  small {
    color: #aaa;
  }

  .meta {
    position: absolute;
    width: auto;
    right: 0;
    top: 0;

    div {
      display: inline-block;
    }

    table {
      margin: 0;
    }
  }
  .version-table {
    td {
      border: none;
      color: #999;
      background: #C2DBB8;
      position: relative;
    }
    td.version-complete {
      background: #9FE884;
    }
    .version-progress-bar {
      background: #eee;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .version-label {
      z-index: 10;
      display: block;
      position: relative;
    }
  }


  .file .version-table {
    td {
      background: #eee;
    }
    td.version-complete {
      background: #9FE884;
    }
  }


  .folder .arrow-rolled-up {
    display: none;
  }
  .folder.collapsed .arrow-rolled-up {
    display: inline-block;
  }

  .label-primary {
    background: rgba(239, 65, 53, 0.5);
  }

  .arrow-primary {
    background: rgba(239, 65, 53, 1);
  }

  .arrow-controls div {
    display: inline-block;
    margin-right: 20px;
  }

  #missing-arrows {
    a.popover-trigger, .glyphicon {
      color: #ef4135;
      cursor: pointer;
    }
    .content {
      display: none;
    }

    .popover {
      max-width: 176px !important;
    }
  }

  .folder-controls {
    display: none;
  }

  .folder:hover .folder-controls, .file:hover .folder-controls {
    display: inline-block;
  }

  .folder-controls .glyphicon:hover {
    color: #666;
  }
}



@media (max-width: 768px)  {
  .documents-tree {
    .meta {
      position: relative;
      width: auto;
      right: 0;
      top: 0;

      div {
        display: block;
      }

      table {
        margin: 5px 0px;

        td {
          border-right: 1px solid #fff;
          font-size: 0.6em;
          padding: 3px;
          text-align: center;
        }
      }
    }
    .file, .folder {
      div.name {
        margin-right: 0px;
      }
    }
  }
}

.folder {
  .glyphicon {
    margin-right: 4px;
  }
  .glyphicon-th-list {
    display: inline-block;
  }
  .glyphicon-th-large {
    display: none;
  }
}

.folder.collapsed .glyphicon-th-list {
  display: none;
}

.folder.collapsed .glyphicon-th-large {
  display: inline-block;
}

.folder td {
  background: #E3E8E7;
}

.row-header {
  background: #ddd;
  font-weight: bold;
}

.select-folder-container {
  display: inline-block;

  p {
    margin-bottom: 0;
  }

  button {
    margin-left: 30px;
  }
}

.upload-drop-zone {
  height: 100px;
  border-width: 2px;
  margin-bottom: 20px;
}

.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 100px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.chosen-container-multi .chosen-container {
  width: 100% !important;
}

.chosen-container .chosen-choices {
  padding: 6px 12px;
  border-radius: 3px;
  height: 34px;
}

.document-files {
  td.notes {
    width: 60%;
  }
}

.iterations-list {

}

.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
  margin-left:2px;
}

// mobile
@media (max-width: 767px) {
  table.documents {
    .file {
      display: none;
    }
    .owner {
      display: none;
    }
    .last-updated {
      display: none;
    }
    .edited-by {
      display: none;
    }
    .revision {
      display: none;
    }
  }
}

// mobile and tablet
@media (max-width: 991px) {
  table.documents {
    .owner {
      background: red;
      display: none;
    }
    .edited-by {
      display: none;
    }
    .revision {
      display: none;
    }
  }
}

@media (max-width: 1390px) {
  table.documents {
    .edited-by {
      display: none;
    }
    .revision {
      display: none;
    }
  }
}

.pane-ticket {
  form .field-multiple-table th.field-label {
    padding-left: 8px;
    font-size: 18px;
    font-weight: bold;
  }
}




// projects ------------------------------------------------------------------------
.data-label {
  width: 96px;
  display: inline-block;
  font-weight: bold;
}

.stats-block {
  height: 100px;
  margin-bottom: 20px;
  text-align: center;

  .stat-title {
    text-transform: uppercase;
    font-size: 0.9em;
  }
  .stat-figure {
    font-size: 42px;
    font-family: 'AvenirLTStd-Roman';
  }
  .stat-change {
    font-style: italic;
  }
}
@media (max-width: 1200px) {
  .stats-block {
    height: 100px;
    padding: 12px;
    .stat-title {
      text-transform: uppercase;
      font-size: 0.7em;
      line-height: 1.1em;
    }
    .stat-figure {
      font-size: 36px;
    }
  }
}
@media (max-width: 991px) {
  .stats-block {
    .stat-figure {
      font-size: 36px;
    }
  }
}
@media (max-width: 767px) {
  .stats-block {
    height: 120px;
    .stat-title {
      font-size: 0.8em;
    }
    .stat-figure {
      font-size: 28px;
    }
  }
  .ticket-stats {
    .stats-block {
      height: auto;
    }
  }
}

.list-group-item {
  .list-label {
    display: block;
    text-transform: uppercase;
  }

  .list-data {
    display: block;
  }
}

.user-card {
  text-align: center;
  .profile-img {
    img {
      width: 40%;
      margin: 0 auto;
    }
  }
}

.header-label {
  font-size: 0.8em;
  text-transform: uppercase;
  display: block;
}

.header-data {
  display: block;
  font-weight: bold;
}

ul.line-legend, ul.bar-legend {
  list-style-type: none;
  padding-left: 20px;
}

ul.line-legend li, ul.bar-legend li {
  display: inline;
  margin-right: 20px;
}

ul.line-legend span, ul.bar-legend span {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}





// Forms ------------------------------------------------------------------------

form {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 0;
}

.data-tooltip:hover {
  background: blanchedalmond;
}

.form-group {
  margin-bottom: 10px;
}

.form-wrapper {
  margin-bottom: 20px;
}

.radio input[type="radio"] {
  margin-left: 0px;
}





// datepicker -------------------------------------------------------------------
.ui-widget {
//  z-index: 10 !important;
  font-size: 0.8em;
}

#ui-datepicker-div {
  z-index: 2000 !important;
}





// search ------------------------------------------------------------------------
#search-collapse {
  position: relative;
}
.live-results {
  display: none;
  position: absolute;
  top: 38px;
  left: 15px;
  padding: 20px;
  background: white;
  width: 85%;
  border: 1px solid #ccc;
  z-index: 10000;
  border-top: 0;

  .search-term {
    font-style: italic;

  }

  dl {
    margin-bottom: 0;
  }

  dt {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
  }

  dt:first-child {
    margin-top: 0px;
    padding-top: 0px;
    border-top: none;
  }

  dt.results-group {
    padding-top: 0px;
    border-top: none;
    position: relative;

    span {
      position: absolute;
      width: 70px;
    }
  }

  dt.search-all {
    display: none;
  }


  dd {
    margin-left: 70px;
    border-left: 1px solid #ccc;
    padding-left: 15px;
  }

}

.search-result {
  margin-bottom: 20px;

  .search-result-type {
    width: 15%;
    display: inline-block;
    text-align: right;
    padding-right: 20px;
    vertical-align: top;
  }

  .search-result-detail {
    display: inline-block;
    width: 80%;
    padding-left: 20px;
    border-left: 1px solid #ccc;

    .search-result-copy {
    }

    .search-result-meta {
      font-size: 0.9em;

      .label {
        font-size: 1em;
      }

      p {
        margin-bottom: 10px;
      }
    }
  }
}




// add site ------------------------------------------------------------------------
.add-site-form {
  width: 70%;

  .chosen-container {
    width: 100% !important;
  }
  .chosen-single {
    height: 38px;

    span {
      height: 38px;
      font-size: 16px;
      padding: 6px 0;
    }
    div b {
      background: url(chosen-sprite.png) no-repeat 0 8px
    }
  }

  .facet-setup label {
    font-size: 0.9em;
  }

  .facet-setup.active {
    background: #FCFCE3;
  }
}

.facet-progress {
  font-size: 0.8em;

  .progress {
    margin-bottom: 3px;
  }
}
@media (max-width: 1300px) {
  .add-site-form {
    width: 100%
  }
}

.new-project-tasks .alert {
  margin-bottom: 8px;
  padding: 8px 14px;
}

ul.facet-cards {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  >.facet-card {
    display: table-row;
    .facet-title {
      li {
        font-size: 0.85em;
        margin-bottom: 3px;
        line-height: 1.2em;
      }
    }
    .mobile-label {
      display: none;
    }
    .progress {
      margin-bottom: 2px;
    }
  }
}
@media (max-width: 991px) {
  ul.facet-cards {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;

    >.facet-card {
      display: block;
      border: 1px solid #000;
      margin-bottom: 30px;

      .facet-title {
        font-size: 1.1em;
        line-height: 1em;
        padding: 15px 15px 15px;
        background: #ededed;
        display: block;
        margin-bottom: 10px;
      }

      .facet-data {
        width: 100%;
        display: inline-block;
        padding: 5px 15px;
      }

      .facet-actions {
        padding-bottom: 15px;
      }

      .facet-sdate,
      .facet-edate,
      {
        width: 49%;
      }

      .mobile-label {
        text-transform: uppercase;
        font-size: 0.8em;
        display: block;

      }
      .progress {
        margin-bottom: 2px;
      }
      >div {
        border-top: none;
      }
    }
    >.table-header-row {
      display: none;
    }
  }
}

#add-milestone .form-group {
  clear: both;
}

#form-criteria-list .payment-criteria:nth-of-type(1) .remove-criteria {
  display: none;
}

.status-block {
  font-size: 2em;
}

.status-title {
  float: left;
  margin-right: 20px;
}

.status-figure {

}






// kitchensink ------------------------------------------------------------------

//panels

.kitchen-sink {
  margin-top: 30px;
  .panel {
    box-shadow: none;
  }
  .panel-default {
    border: none;
    margin-bottom: 30px;
    >.panel-heading {
      background: #fff;
      border-bottom: 1px solid $mid-gray;
      padding: 10px 0;
    }
  }
  .panel-heading {
    h4 {
      margin: 0;
    }
    a {
      display: block;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    .caret {
      border-bottom: 7px solid;
      border-top: none;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
    }
    .collapsed .caret {
      border-top: 7px solid;
      border-bottom: none;
    }
  }

}



// icons

.the-icons {
  padding: 0;
}

.the-icons i {
  display: block;
  margin: 5px auto;
  vertical-align: middle;
  margin-right: 3px;
  font-size: 24px;
}

.the-icons li {
  float: left;
  width: 100px;
  height: 110px;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 -1px -1px 0;
}

.the-icons, .the-buttons {
  list-style: none;
}

.filter-wrapper {
  display:none;
}


.documents-tree {
  section {
    margin-left: 30px;
  }
  .folder, .file, .add-file, .add-folder {
    margin-bottom: 2px;
    border-bottom: 1px solid #ddd;
    position: relative;
  }

  .folder {
    background: #eee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#dddddd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeeeee 0%,#dddddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding: 8px 12px;
    cursor: pointer;
  }

  .folder.collapsed {
    background: #eee;
  }

  .folder:hover {
    background: #ddd;
    background: -moz-linear-gradient(top, #dddddd 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #dddddd 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #dddddd 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, */
  }

  .folder.collapsed:hover {
    background: #ddd;
  }

  .file {
    border-left: 4px solid #ddd;

    td {
      background: #FAFAFA;
    }
  }
  .add-file {
    background: lightyellow;
  }

  .add-folder {
    background: lightgoldenrodyellow;
  }

  .file, .add-folder, .add-file {
    a {
      display: block;
      padding: 8px 12px;
    }
  }
  .file:hover, .add-folder:hover, .add-file:hover {
    background: lightcyan;
    a {
      text-decoration: none;
    }
  }

  .file, .folder {
    div.name {
      margin-right: 170px;
    }
  }

  small {
    color: #aaa;
  }

  .meta {
    position: absolute;
    width: auto;
    right: 0;
    top: 0;

    div {
      display: inline-block;
    }

    table {
      margin: 0;
    }
  }
  .version-table {
    td {
      border: none;
      color: #999;
      background: #C2DBB8;
      position: relative;
    }
    td.version-complete {
      background: #9FE884;
    }
    .version-progress-bar {
      background: #eee;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .version-label {
      z-index: 10;
      display: block;
      position: relative;
    }
  }


  .file .version-table {
    td {
      background: #eee;
    }
    td.version-complete {
      background: #9FE884;
    }
  }


  .folder .arrow-rolled-up {
    display: none;
  }
  .folder.collapsed .arrow-rolled-up {
    display: inline-block;
  }

  .label-primary {
    background: rgba(239, 65, 53, 0.5);
  }

  .arrow-primary {
    background: rgba(239, 65, 53, 1);
  }

  .arrow-controls div {
    display: inline-block;
    margin-right: 20px;
  }

  #missing-arrows {
    a.popover-trigger, .glyphicon {
      color: #ef4135;
      cursor: pointer;
    }
    .content {
      display: none;
    }

    .popover {
      max-width: 176px !important;
    }
  }

  .folder-controls {
    display: none;
  }

  .folder:hover .folder-controls, .file:hover .folder-controls {
    display: inline-block;
  }

  .folder-controls .glyphicon:hover {
    color: #666;
  }
}

.arrow-primary {
  background: rgba(239, 65, 53, 1);
  position: relative;
  border-radius: 0 .25em .25em 0;
  margin-left: 20px;
  color: #fff;
  font-size: 12px;
  vertical-align: middle;

}

.arrow-primary:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #ef4135;
  border-width: 14px;
  margin-top: -14px;
}


.folder {
  .glyphicon {
    margin-right: 4px;
  }
  .glyphicon-th-list {
    display: inline-block;
  }
  .glyphicon-th-large {
    display: none;
  }
}
.folder.collapsed .glyphicon-th-list {
  display: none;
}
.folder.collapsed .glyphicon-th-large {
  display: inline-block;
}


.icon-stack {
  position: relative;
  display: inline-block;

  .text {
    position: absolute;
    z-index: 1;
    font-size: 0.6em;
    font-weight: bold;
    bottom: 6px;
    left: 6px;
    color: #fff;
  }
  .glyphicon {
    font-size: 2em;
  }
}


@media (max-width: 768px)  {
  .documents-tree {
    .meta {
      position: relative;
      width: auto;
      right: 0;
      top: 0;

      div {
        display: block;
      }

      table {
        margin: 5px 0px;

        td {
          border-right: 1px solid #fff;
          font-size: 0.6em;
          padding: 3px;
          text-align: center;
        }
      }
    }
    .file, .folder {
      div.name {
        margin-right: 0px;
      }
    }
  }
}
// twitter typeahead ------------------------------------------------------------------------

.twitter-typeahead {
  display: block !important;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-hint {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #999;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;

}
.tt-suggestion {
  display: block;
  padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}
.tt-suggestion p {
  margin: 0;
}





// tasks ------------------------------------------------------------------------

.panel-heading h4 {
  margin: 0;
}

.task-list {
  padding: 0;
}
.task-list-heading .num-tickets {
  font-size: 0.8em;
  margin-left: 20px;
  display: inline;
}

.task:hover {
  text-decoration: none;
  background: #FAFAFA;
}
.task {
  display: block;
  padding: 10px 14px;
  border-bottom: 1px dotted $mid-gray;
  input {
    margin: 0;
  }
  .task-data {
    display: inline-block;
    width: 65%;

    span {
      display: inline-block;
      vertical-align: top;
    }
    .label {
      width: 95px;
    }

    .task-type {
      display: block;
    }

    .task-title .glyphicon-info-sign {
      margin-top: 4px;
      padding-left: 2px;
    }
    .task-copy {
      margin-right: 3%;
    }
    .task-due-date {
      font-size: 0.8em;
      color: #999;
      margin-right: 3%;
    }
  }
  .task-meta-items {
    display: inline-block;
    text-align: right;
    width: 35%;
    float: right;
    .task-meta, .task-label {
      margin-left: 6px;
    }

    span:first-child {
      margin-left: 0px;
    }

    .task-meta {
      font-size: 0.8em;
      color: #ccc;
      display: inline-block;
    }
  }
}

.task-closed {
  opacity: 0.7;

  .task-title {
    text-decoration: line-through;
  }
}

.task-type {
  font-size: 0.9em;
  text-transform: uppercase;
}

// mobile
@media (max-width: 767px) {
  .task {
    .task-data {
      display: block;
      width: 100%;
    }
    .task-meta-items {
      display: block;
      text-align: left;
      width: 100%;
      float: none;
    }
  }
  .task-list-heading .num-tickets {
    margin-left: 0px;
    display: block;
  }
}

select.tasks-sort {
  width: auto;
}

.filter-control .chosen-container {
  width: 100% !important;
  li.searchfield {
    width: 100% !important;
    input {
      width: 100% !important;
    }
  }
}

.filter-control .chosen-container {
  width: 100% !important;
}

.filter-control .chosen-container li.search-field,.filter-control .chosen-container li.search-field input {
  width: 320px !important;
}



// misc


// mobile
@media (max-width: 767px) {
  #secondary-nav {
    form {
      padding: 0;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .nav-tabs>li>a {
    padding: 7px 8px;
  }

  #project-menu {
    li {
      margin-bottom: 4px;
    }
  }
}


// larger than mobile
@media (min-width: 992px) {
  #section-menu {
    display: block;
    height: auto !important;
  }
  #search-collapse {
    display: block;
    height: auto !important;
  }
}

a.new-link {
 color:#ef4135;
}

#edit-options {
  padding-left: 20px;
}


// landing page  ------------------------------------------------------------------------


.panel-landing {
  margin-bottom:20px;
}

// larger than mobile
@media (min-width: 992px) {
  .panel-landing {
    margin-top:30px;

    min-height:160px;

    .btn {
      position:absolute;
      bottom:0;
    }
  }
}
