@import "bootstrap-variables-overide";





// Forms ------------------------------------------------------------------------

.form-control.chosen-container {
  background: #fff;
  padding: 0;
}

@media (min-width: $screen-md-min) {
  .page-user form {
    width: 50%;
    margin: auto;
  }
}

.password-indicator {
  background-color: #f5f5f5;
  width: 100%;
  height: 24px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 4px;
}

.password-indicator div {
  background-color: #1d6a96;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
}

.confirm-parent,
.password-parent {
  width: 100%;
}

input.password-confirm,
input.password-field {
  width: 100%;
}

.password-strength {
  width: 100%;
  font-size: 85%;
}

@media (min-width: $screen-md-min) {
  input.password-confirm,
  input.password-field {
    width: 50%;
  }
  .password-strength {
    width: 40%;
    margin-top: 5px;
  }
}


div.form-item div.password-suggestions {
  padding: 5px;
  margin: 0;
  width: 100%;
  border: none;
  background: #bfe0f3;
  ul {
    font-size: 85%;
  }
}

.chosen-container-single .chosen-single {
  background: #fff;
  border: none;
  min-height: 36px;
  padding-top: 6px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  background: #fff;
  border: none;
}

.chosen-container-single .chosen-drop {
  border: none;
}

.chosen-container-single .chosen-single div b {
  margin-top: 8px;
}

.geolocation-address .form-type-textfield {
  float: none;
}

.progress-bar.complete {
  background-color: #5dc652;
}