// styles ------------------------------------------------------------------------
.text-muted, .label-default {
  color: #aaa;
}

.well {
  padding: 10px;
}

span.badge {
  background: #999;
}


.data-tooltip:hover {
  background: blanchedalmond;
}



// structure ------------------------------------------------------------------------
.left-col {
  width: 250px;
  padding: 0;
  position: absolute;
  display: flex;
}

.right-col {
  padding: 0px 20px;
  margin-left: 250px;
}

hr {
  margin-top: 14px;
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .left-col {
    width: 100%;
    padding: 0px;
    position: static;
    display: block;
    margin-bottom: 20px;
  }
  .right-col {
    padding: 0px;
    margin-left: 0px;
  }
}

h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collapse-expand-all {
  text-align: right;

  a {
    margin-left: 15px;
  }
}





// navigations ------------------------------------------------------------------------
.nav-tabs {
  margin-bottom: 20px;
}

#header-bar {
  margin-bottom: 0px;
}

#global-nav {
  margin-bottom: 0px;
}

#secondary-nav {
  width: 100%;
  padding: 15px 15px 15px 15px;
  form {
    margin: 0;
    padding: 0;
    background: none;
  }
}


.breadcrumb {
  margin-bottom: 30px;
}

th {
  font-size: 0.8em;
}

.files-header {
  background: #ddd;
  font-weight: bold;
}

.file-breadcrumb {
  margin-bottom: 0px;
}

#sidebar {
  margin-bottom: 30px;
}

#section-menu {
  width: 100%;
}

.navbar-toggle {
  .icon {
    float: left;
  }
}

#project-menu {
  >li {
    margin-right: 4px;
  }
  >li+li {
    margin-left: 0px;
  }
  >li>a {
    background: #efefef;
    padding: 4px 8px;
  }
  >li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background: #bbb;
  }
}

// mobile
@media (max-width: 767px) {
  #secondary-nav {
    form {
      padding: 0;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .nav-tabs>li>a {
    padding: 7px 8px;
  }

  #project-menu {
    li {
      margin-bottom: 4px;
    }
  }
}


// larger than mobile
@media (min-width: 992px) {
  #section-menu {
    display: block;
    height: auto !important;
  }
  #search-collapse {
    display: block;
    height: auto !important;
  }
}




// documents ------------------------------------------------------------------------
.folder td {
  background: #E3E8E7;
}

.row-header {
  background: #ddd;
  font-weight: bold;
}

.select-folder-container {
  display: inline-block;

  p {
    margin-bottom: 0;
  }

  button {
    margin-left: 30px;
  }
}

.upload-drop-zone {
  height: 100px;
  border-width: 2px;
  margin-bottom: 20px;
}

.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 100px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.chosen-container-multi .chosen-container {
  width: 100% !important;
}

.chosen-container .chosen-choices {
  padding: 6px 12px;
  border-radius: 3px;
  height: 34px;
}

.document-files {
  td.notes {
    width: 60%;
  }
}

.iterations-list {

}

.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
  margin-left:2px;
}

// mobile
@media (max-width: 767px) {
  table.documents {
    .file {
      display: none;
    }
    .owner {
      display: none;
    }
    .last-updated {
      display: none;
    }
    .edited-by {
      display: none;
    }
    .revision {
      display: none;
    }
  }
}

// mobile and tablet
@media (max-width: 991px) {
  table.documents {
    .owner {
      background: red;
      display: none;
    }
    .edited-by {
      display: none;
    }
    .revision {
      display: none;
    }
  }
}

@media (max-width: 1390px) {
  table.documents {
    .edited-by {
      display: none;
    }
    .revision {
      display: none;
    }
  }
}





// projects ------------------------------------------------------------------------
.data-label {
  width: 96px;
  display: inline-block;
  font-weight: bold;
}

.stats-block {
  height: 100px;
  margin-bottom: 20px;
  text-align: center;

  .stat-title {
    text-transform: uppercase;
    font-size: 0.9em;
  }
  .stat-figure {
    font-size: 42px;
    font-family: 'AvenirLTStd-Roman';
  }
  .stat-change {
    font-style: italic;
  }
}
@media (max-width: 1200px) {
  .stats-block {
    height: 100px;
    padding: 12px;
    .stat-title {
      text-transform: uppercase;
      font-size: 0.7em;
      line-height: 1.1em;
    }
    .stat-figure {
      font-size: 36px;
    }
  }
}
@media (max-width: 991px) {
  .stats-block {
    .stat-figure {
      font-size: 36px;
    }
  }
}
@media (max-width: 767px) {
  .stats-block {
    height: 120px;
    .stat-title {
      font-size: 0.8em;
    }
    .stat-figure {
      font-size: 28px;
    }
  }
  .ticket-stats {
    .stats-block {
      height: auto;
    }
  }
}

.list-group-item {
  .list-label {
    display: block;
    text-transform: uppercase;
  }

  .list-data {
    display: block;
  }
}

.user-card {
  text-align: center;
  .profile-img {
    img {
      width: 40%;
      margin: 0 auto;
    }
  }
}

.header-label {
  font-size: 0.8em;
  text-transform: uppercase;
  display: block;
}

.header-data {
  display: block;
  font-weight: bold;
}

ul.line-legend, ul.bar-legend {
  list-style-type: none;
  padding-left: 20px;
}

ul.line-legend li, ul.bar-legend li {
  display: inline;
  margin-right: 20px;
}

ul.line-legend span, ul.bar-legend span {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}




// add site ------------------------------------------------------------------------
.add-site-form {
  width: 70%;

  .chosen-container {
    width: 100% !important;
  }
  .chosen-single {
    height: 38px;

    span {
      height: 38px;
      font-size: 16px;
      padding: 6px 0;
    }
    div b {
      background: url(chosen-sprite.png) no-repeat 0 8px
    }
  }

  .facet-setup label {
    font-size: 0.9em;
  }

  .facet-setup.active {
    background: #FCFCE3;
  }
}

.facet-progress {
  font-size: 0.8em;

  .progress {
    margin-bottom: 3px;
  }
}
@media (max-width: 1300px) {
  .add-site-form {
    width: 100%
  }
}

.new-project-tasks .alert {
  margin-bottom: 8px;
  padding: 8px 14px;
}

ul.facet-cards {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  >.facet-card {
    display: table-row;
    .facet-title {
      li {
        font-size: 0.85em;
        margin-bottom: 3px;
        line-height: 1.2em;
      }
    }
    .mobile-label {
      display: none;
    }
    .progress {
      margin-bottom: 2px;
    }
  }
}
@media (max-width: 991px) {
  ul.facet-cards {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;

    >.facet-card {
      display: block;
      border: 1px solid #000;
      margin-bottom: 30px;

      .facet-title {
        font-size: 1.1em;
        line-height: 1em;
        padding: 15px 15px 15px;
        background: #ededed;
        display: block;
        margin-bottom: 10px;
      }

      .facet-data {
        width: 100%;
        display: inline-block;
        padding: 5px 15px;
      }

      .facet-actions {
        padding-bottom: 15px;
      }

      .facet-sdate,
      .facet-edate,
      {
        width: 49%;
      }

      .mobile-label {
        text-transform: uppercase;
        font-size: 0.8em;
        display: block;

      }
      .progress {
        margin-bottom: 2px;
      }
      >div {
        border-top: none;
      }
    }
    >.table-header-row {
      display: none;
    }
  }
}

#add-milestone .form-group {
  clear: both;
}

#form-criteria-list .payment-criteria:nth-of-type(1) .remove-criteria {
  display: none;
}

.status-block {
  font-size: 2em;
}

.status-title {
  float: left;
  margin-right: 20px;
}

.status-figure {

}



// tasks ------------------------------------------------------------------------

.panel-heading h4 {
  margin: 0;
}

.task-list {
  padding: 0;
}
.task-list-heading .num-tickets {
  font-size: 0.8em;
  margin-left: 20px;
  display: inline;
}

.task:hover {
    text-decoration: none;
    background: #FAFAFA;
}
.task {
  display: block;
  padding: 10px 14px;
  border-bottom: 1px solid rgb(186,188,190);
  input {
    margin: 0;
  }
  .task-data {
    display: inline-block;
    width: 65%;

    span {
      display: inline-block;
      vertical-align: top;
    }
    .label {
      width: 95px;
    }

    .task-type {
      display: block;
    }

    .task-title .glyphicon-info-sign {
      margin-top: 4px;
      padding-left: 2px;
    }
    .task-copy {
      margin-right: 3%;
    }
    .task-due-date {
      font-size: 0.8em;
      color: #999;
      margin-right: 3%;
    }
  }
  .task-meta-items {
    display: inline-block;
    text-align: right;
    width: 35%;
    float: right;
    .task-meta, .task-label {
      margin-left: 6px;
    }

    span:first-child {
      margin-left: 0px;
    }

    .task-meta {
      font-size: 0.8em;
      color: #ccc;
    }
  }
}

.task-closed {
  opacity: 0.7;

  .task-title {
    text-decoration: line-through;
  }
}

.task-type {
  font-size: 0.9em;
  text-transform: uppercase;
}

// mobile
@media (max-width: 767px) {
  .task {
    .task-data {
      display: block;
      width: 100%;
    }
    .task-meta-items {
      display: block;
      text-align: left;
      width: 100%;
      float: none;
    }
  }
  .task-list-heading .num-tickets {
    margin-left: 0px;
    display: block;
  }
}

select.tasks-sort {
  width: auto;
}

.filter-control .chosen-container {
  width: 100% !important;
  li.searchfield {
    width: 100% !important;
    input {
      width: 100% !important;
    }
  }
}

.filter-control .chosen-container {
  width: 100% !important;
}

.filter-control .chosen-container li.search-field,.filter-control .chosen-container li.search-field input {
  width: 320px !important;
}



// search ------------------------------------------------------------------------
#search-collapse {
  position: relative;
}
.live-results {
  display: none;
  position: absolute;
  top: 38px;
  left: 15px;
  padding: 20px;
  background: white;
  width: 85%;
  border: 1px solid #ccc;
  z-index: 10000;
  border-top: 0;

  .search-term {
    font-style: italic;

  }

  dl {
    margin-bottom: 0;
  }

  dt {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
  }

  dt:first-child {
    margin-top: 0px;
    padding-top: 0px;
    border-top: none;
  }

  dt.results-group {
    padding-top: 0px;
    border-top: none;
    position: relative;

    span {
      position: absolute;
      width: 70px;
    }
  }

  dt.search-all {
    display: none;
  }


  dd {
    margin-left: 70px;
    border-left: 1px solid #ccc;
    padding-left: 15px;
  }

}

.search-result {
  margin-bottom: 20px;

  .search-result-type {
    width: 15%;
    display: inline-block;
    text-align: right;
    padding-right: 20px;
    vertical-align: top;
  }

  .search-result-detail {
    display: inline-block;
    width: 80%;
    padding-left: 20px;
    border-left: 1px solid #ccc;

    .search-result-copy {
    }

    .search-result-meta {
      font-size: 0.9em;

      .label {
        font-size: 1em;
      }

      p {
        margin-bottom: 10px;
      }
    }
  }
}



// datepicker ------------------------------------------------------------------------
.ui-widget {
//  z-index: 10 !important;
  font-size: 0.8em;
}

#ui-datepicker-div {
  z-index: 2000 !important;
}





// twitter typeahead ------------------------------------------------------------------------
.twitter-typeahead {
  display: block !important;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-hint {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #999;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;

}
.tt-suggestion {
  display: block;
  padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}
.tt-suggestion p {
  margin: 0;
}
