.wireframe-disclaimer {
  background: deepskyblue;
  margin: 0;
  text-align: center;
  padding: 3px;
  color: #fff;
}

body {
  border-left: solid deepskyblue 15px;
}

.data-tooltip:hover {
  background: blanchedalmond;
}

.documents-tree {
  section {
    margin-left: 30px;
  }
  .folder, .file, .add-file, .add-folder {
    margin-bottom: 2px;
    border-bottom: 1px solid #ddd;
    position: relative;
  }

  .folder {
    background: #eee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#dddddd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeeeee 0%,#dddddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding: 8px 12px;
    cursor: pointer;
  }

  .folder.collapsed {
    background: #eee;
  }

  .folder:hover {
    background: #ddd;
    background: -moz-linear-gradient(top, #dddddd 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #dddddd 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #dddddd 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, */
  }

  .folder.collapsed:hover {
    background: #ddd;
  }

  .file {
    border-left: 4px solid #ddd;

    td {
      background: #FAFAFA;
    }
  }
  .add-file {
    background: lightyellow;
  }

  .add-folder {
    background: lightgoldenrodyellow;
  }

  .file, .add-folder, .add-file {
    a {
      display: block;
      padding: 8px 12px;
    }
  }
  .file:hover, .add-folder:hover, .add-file:hover {
    background: lightcyan;
    a {
      text-decoration: none;
    }
  }

  .file, .folder {
    div.name {
      margin-right: 170px;
    }
  }

  small {
    color: #aaa;
  }

  .meta {
    position: absolute;
    width: auto;
    right: 0;
    top: 0;

    div {
      display: inline-block;
    }

    table {
      margin: 0;
    }
  }
  .version-table {
    td {
      border: none;
      color: #999;
      background: #C2DBB8;
      position: relative;
    }
    td.version-complete {
      background: #9FE884;
    }
    .version-progress-bar {
      background: #eee;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .version-label {
      z-index: 10;
      display: block;
      position: relative;
    }
  }


  .file .version-table {
    td {
      background: #eee;
    }
    td.version-complete {
      background: #9FE884;
    }
  }


  .folder .arrow-rolled-up {
    display: none;
  }
  .folder.collapsed .arrow-rolled-up {
    display: inline-block;
  }

  .label-primary {
    background: rgba(239, 65, 53, 0.5);
  }

  .arrow-primary {
    background: rgba(239, 65, 53, 1);
  }

  .arrow-controls div {
    display: inline-block;
    margin-right: 20px;
  }

  #missing-arrows {
    a.popover-trigger, .glyphicon {
      color: #ef4135;
      cursor: pointer;
    }
    .content {
      display: none;
    }

    .popover {
      max-width: 176px !important;
    }
  }

  .folder-controls {
    display: none;
  }

  .folder:hover .folder-controls, .file:hover .folder-controls {
    display: inline-block;
  }

  .folder-controls .glyphicon:hover {
    color: #666;
  }
}

.arrow-primary {
  background: rgba(239, 65, 53, 1);
  position: relative;
  border-radius: 0 .25em .25em 0;
  margin-left: 20px;
  color: #fff;
  font-size: 12px;
  vertical-align: middle;

}

.arrow-primary:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #ef4135;
  border-width: 14px;
  margin-top: -14px;
}


.folder {
  .glyphicon {
    margin-right: 4px;
  }
  .glyphicon-th-list {
    display: inline-block;
  }
  .glyphicon-th-large {
    display: none;
  }
}
.folder.collapsed .glyphicon-th-list {
  display: none;
}
.folder.collapsed .glyphicon-th-large {
  display: inline-block;
}

.icon-stack {
  position: relative;
  display: inline-block;

  .text {
    position: absolute;
    z-index: 1;
    font-size: 0.6em;
    font-weight: bold;
    bottom: 6px;
    left: 6px;
    color: #fff;
  }
  .glyphicon {
    font-size: 2em;
  }
  .file-size {
    right: 6px;
    position: relative;
    bottom: 2px;
  }
}


@media (max-width: 768px)  {
  .documents-tree {
    .meta {
      position: relative;
      width: auto;
      right: 0;
      top: 0;

      div {
        display: block;
      }

      table {
        margin: 5px 0px;

        td {
          border-right: 1px solid #fff;
          font-size: 0.6em;
          padding: 3px;
          text-align: center;
        }
      }
    }
    .file, .folder {
      div.name {
        margin-right: 0px;
      }
    }
  }
}
